body {
    font: 20px Raleway, sans-serif;
    line-height: 2;
    color: #D8DBE2;
    font-weight: 500;
    background-color: #1B1B1E;
  }

p {font-size: 16px;}

a:link{
  color: #D8DBE2;
}
a:visited{
  color: #D8DBE2;
}

a.logo:hover{
  text-decoration: none;
}

.margin {margin-bottom: 10px;}

.thumb{
  margin-bottom: 15px;
}

.flex{
  display: flex;
  flex-direction: row;
  border: 0px;
}


.element{
  padding: 10px;
  margin-top: 3px;
}

.nav-element{
  background-color: #58A4B0;
  border-radius: 5px;
  margin: 10px;
}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}

.navbar{
  background-color: #373F51;
  padding: 0px;
  margin-bottom: 0px;
}

.header{
  margin-top: 15px;
  font-size: 3rem;
  text-align: center;
}

.top-row{

  margin-top: 10px;

}

.nav{

  margin-right: 30px;
  text-align: center;

}

.desc{

  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 40px;
  text-align: justify;
  text-justify:  inter-word;

}

.img-responsive{

  border: 10px solid #58A4B0;
  border-radius: 4px;

}
.drawing{

  width:95%;
  margin-right: 20px;

}

.idea-head{

    font-size: 2.25rem;

}

.abt-img{

  width: auto;
  height: 45rem;

}

.carousel-item{

  text-align: center;

}
